DATABASE_URL="file:./dev.db"
JWT_SECRET="atacado_sp_apple_secret_key_production_2026_super_secure"
DEFAULT_IPHONE_MARGIN="200"
ADMIN_DEFAULT_EMAIL="admin@atacadosp.com.br"
ADMIN_DEFAULT_PASSWORD="admin123"
NEXT_PUBLIC_STORE_NAME="ATACADO SP"
NEXT_PUBLIC_WHATSAPP="5511930089729"
NEXT_PUBLIC_STORE_ADDRESS="Santa Efigênia - São Paulo / SP"
NEXT_PUBLIC_PAYMENT_TERMS="Pagamento Somente à Vista"
